:local {
    .lineListingContainer {
        position: relative;
        border-radius: var(--base-br);
        background-color: var(--color-tertiary);
        width: 100%;

        &::before {
            content: "Línea " attr(data-line);        
            position: absolute;
            top: -28px;
            min-height: 42px;
            border-radius: 50px;
            padding: 5px 42px;
            background-color: var(--color-tertiary);
            z-index: -1;
            align-self: center;
        }

        &:not(:last-child) { margin-bottom: 52px; }

        &:empty { display: none; }
    }
}
