{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "useBuiltIns": "entry",
                "corejs": "^2.4.0"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/transform-react-jsx",
            {
                "pragma": "h"
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}
