:global {
    :root {
        --base-br: 18px;
        --header-height: 150px;

        --radius: 0.25em;

        --home-gradient: linear-gradient(to bottom, #00a2ff, #39b5fd);
        --home-image: url('../assets/bg.svg');

        --black-box-shadow: 0 3px 20px rgba(0,0,0,.16);

        --color-primary: #ffffff;
        --color-accent: #13AFF9;
        --color-green: #45C826;
        --color-secondary: #c5c5c5;
        --color-secondary-lighter: #e1e5e6;
        --color-tertiary: #F4F7F9;
        --color-bg: #464646;
    }
}
