:global {
    :root {
        --base-br: 32px;
        --header-height: 150px;

        --radius: 0.25em;

        --home-gradient: linear-gradient(to bottom, #13AFF9, #64CDFF);

        --black-box-shadow: 0 3px 20px rgba(0,0,0,.16);

        --color-primary: #ffffff;
        --color-accent: #13AFF9;
        --color-green: #45C826;
        --color-secondary: #c5c5c5;
        --color-tertiary: #F4F7F9;
        --color-bg: #464646;
    }
}
