:local {
    .iconContainer {
        background-color: var(--color-tertiary);
        border-radius: 100%;
        padding: 12px;
        margin: 12px;
    }

    .description { font-size: 1.2em; }
}
