:local {
    .headerWrapper {
        width: 100%;
        height: var(--header-height);
    }

    .backgroundHeader {
        background-image: var(--home-image), var(--home-gradient);
        height: var(--header-height);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;    

        &::after {
            content: "";
            border-radius: 100% 100% 0 0;
            background-color: var(--color-primary);
            width: 120%;
            min-height: 150px;
            position: absolute;
            margin-left: auto;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            top: 190px;
            pointer-events: none;
        }
    }

    .headerContent { z-index: 1; }

}
