:local {
    .directionWrapper {
        width: 100%;
        padding: 14px 24px;
    }

    .directionTitle {
        font-weight: 400;
        margin: 0;
    }

    .directionDescription {
        font-weight: 300;
        color: var(--color-secondary);
        font-size: .95em;
    }
}
