:local {
    .wrapper {

        position: relative;
        min-height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 900px;
        margin: 0 auto;
        background-color: var(--color-primary);
        
        @media screen and (min-width: 900px) {
            box-shadow: var(--black-box-shadow);
        }
    }

    .contentWrapper {
        z-index: 1;
        flex-grow: 1;
        background-color: var(--color-primary);
    }
}
