:local {
    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 900px;
        margin: 0 auto;
        background-color: var(--color-primary);
        
        @media screen and (min-width: 900px) {
            box-shadow: var(--black-box-shadow);
            max-height: 90%;
            border-radius: var(--base-br);
        }
    }

    .innerWrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 900px;
        margin: 0 auto;
        background-color: var(--color-primary);
    }

    .contentWrapper {
        z-index: 1;
        flex-grow: 1;
        background-color: var(--color-primary);
    }
}
