$home-world-bg-image: url(../../assets/img/world-white.svg);
$content-top-spacing: 216px;

:local {
    .backgroundHeader {
        position: absolute;
        top: 0;
        left: 0;
        background-image: var(--home-gradient);
        height: var(--header-height);
        width: 100%;
        z-index: -2;

        &::after {
            content: "";
            border-radius: 100% 100% 0 0;
            background-color: var(--color-primary);
            width: 120%;
            min-height: 150px;
            position: absolute;
            margin-left: auto;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            top: 190px;
            pointer-events: none;
            z-index: -1;
        }
    }

    .wrapper {
        position: relative;
        min-height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
