:local {
    .searchInputWrapper {
        padding-left: 16px;
        border-radius: var(--base-br);
        background-color: var(--color-tertiary);
        width: 90%;
        margin: 8px 0;
        box-shadow: var(--black-box-shadow);
    }
}
