:local {
    .homeWrapper {
        margin-top: 80px;
        margin-bottom: 24px;
        padding: 0 24px;
    }

    .lineListingContainer {
        position: relative;
        border-radius: var(--base-br);
        background-color: var(--color-tertiary);

        &::before {
            content: "Línea " attr(data-line);        
            position: absolute;
            top: -28px;
            min-height: 42px;
            border-radius: 50px;
            padding: 5px 42px;
            background-color: var(--color-tertiary);
            z-index: -2;
        }

        ul { width: 100%; }        
    }

    .listingItem { 
        padding: 14px 20px;
        cursor: pointer;

        &:hover {
            background-color: var(--color-secondary);

            .listingItemIcon {
                background-color: var(--color-tertiary);
            }
        }
    }

    .listingItemLink {
        display: block;
        overflow: hidden;

        &:first-child { border-radius: var(--base-br) var(--base-br) 0 0; }

        &:last-child { border-radius: 0 0 var(--base-br) var(--base-br); }

    }

    .listingItemIcon {
        background-color: var(--color-primary);
        border-radius: 100%;
        padding: 4px;
    }

    .stopTitle {
        font-size: 1.1em;
        font-weight: 300;
    }
}
