<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="Tranvia" />
    <title>Próximo Tranvía</title>

    <meta name="description" content="Consulta en tiempo real de tranvias y paneles de información.">
    <meta name="author" content="Nethruster">
    <link rel="canonical" href="https://tranvia.ml" />
    <meta property="og:type" content="website"/>

    <meta property="og:title" content="Próximo Tranvía" />
    <meta property="og:description" content="Consulta en tiempo real de tranvias y paneles de información." />
    <meta property="og:url" content="https://tranvia.ml" />
    <meta property="og:image" content="/assets/favicons/apple-touch-icon-precomposed.png" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nethruster">
    <meta name="twitter:title" content="Próximo Tranvía">
    <meta name="twitter:description" content="Consulta en tiempo real de tranvias y paneles de información."  />
    <meta name="twitter:image" content="/assets/favicons/apple-touch-icon-precomposed.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#13aff9">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#13aff9">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#464646">
    <link rel="preload" crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500" as="style">
    <%= Object.keys(htmlWebpackPlugin.files.chunks).filter(function(chunck){return htmlWebpackPlugin.files.chunks[chunck].css != "" }).map(function(chunck){return `<link href="${htmlWebpackPlugin.files.chunks[chunck].css}" rel="stylesheet">`}).join('') %>
</head>
<body>
    <div id="mount-point"></div>
    <div class="background-r"></div>
    <div class="background-l"></div>
    <div class="overlay"></div>
    <%= Object.keys(htmlWebpackPlugin.files.chunks).filter(function(chunck){return htmlWebpackPlugin.files.chunks[chunck].entry != ""}).map(function(chunck){return `<script src="${htmlWebpackPlugin.files.chunks[chunck].entry}"></script>`}).join('') %>
    <noscript>
        <div style="position: fixed; top: 0; left: 0; display: flex; justify-content: center; align-items: center;width: 100vw; height: 100vh;">
            <div style="background-color: #fff; padding: 32px; border-radius: 32px; margin: 32px; overflow: hidden; min-height: 50%;display: flex; flex-direction: column; justify-content: center; align-items: center;box-shadow: 0 3px 20px rgba(0,0,0,.05);">
                <svg style="width:96px;height:96px" viewBox="0 0 24 24">
                    <path fill="#464646" d="M0.75,8C0.75,8 5,7 8,9C8,9 8.5,12.75 10.5,12.75V11C10.5,11 11,12 12,12C13,12 13.5,11 13.5,11V12.75C15.5,12.75 16,9 16,9C19,7 23.25,8 23.25,8C21.25,9 21,12.5 21,12.5C17,12.5 17,15.75 17,15.75C12,14.75 12,18.5 12,18.5C12,18.5 12,14.75 7,15.75C7,15.75 7,12.5 3,12.5C3,12.5 2.75,9 0.75,8Z" />
                </svg>
                <h4 style="margin: 16px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Por favor, habilite javascript para visualizar este sitio web.</h4>
            </div>
        </div>
    </noscript>
    <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500">
</body>
</html>
