:local {
    .logoTitle {
        color: var(--color-primary);
        font-weight: 400;
        font-size: 1.6em;
        margin: 16px 0;
        letter-spacing: .4px;

        img { max-width: 100%; }
    }
}
