:local {
    .listingItem { 
        &:hover { background-color: var(--color-secondary-lighter); }

        &:first-child { border-radius: var(--base-br) var(--base-br) 0 0; }

        &:last-child { border-radius: 0 0 var(--base-br) var(--base-br); }

        &:only-child { border-radius: var(--base-br); }
    }

    .listingItemLink {
        display: block;
        overflow: hidden;
        padding: 14px 20px;
    }

    .listingItemIcon {
        background-color: var(--color-primary);
        border-radius: 100%;
        padding: 4px;
    }

    .stopTitle { font-size: 1.1em; }
}
